/*
 * Note that this is toastr v2.1.3, the "latest" version in url has no more maintenance,
 * please go to https://cdnjs.com/libraries/toastr.js and pick a certain version you want to use,
 * make sure you copy the url from the website since the url may change between versions.
 * */
.toast-title {
    font-weight: 700
}
.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word
}
.toast-message a,
.toast-message label {
    color: #FFF
}
.toast-message a:hover {
    color: #CCC;
    text-decoration: none
}
.toast-close-button {
    position: relative;
    right: -.3em;
    top: -.3em;
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    line-height: 1
}
.toast-close-button:focus,
.toast-close-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40)
}
.rtl .toast-close-button {
    left: -.3em;
    float: left;
    right: .3em
}
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none
}
.close-toast {
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -7.5px;
    z-index: 100;
}
.toast-top-center {
    top: 0;
    right: 0;
    width: 100%
}
.toast-bottom-center {
    bottom: 60px;
    right: 0;
    width: 100%
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%
}
.toast-top-left {
    top: 12px;
    left: 12px
}
.toast-top-right {
    top: 12px;
    right: 12px
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px
}
#toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events: none
}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
#toast-container > div {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    color: #FFF;
}
#toast-container > div.rtl {
    direction: rtl;
    padding: 15px 50px 15px 15px;
    background-position: right 15px center
}
#toast-container > div:hover {
    opacity: 1;
    cursor: pointer
}

#toast-container.toast-bottom-center > div,
#toast-container.toast-top-center > div {
    width: 300px;
    margin-left: auto;
    margin-right: auto
}
#toast-container.toast-bottom-full-width > div,
#toast-container.toast-top-full-width > div {
    width: 96%;
    margin-left: auto;
    margin-right: auto
}
#toast-container > div,
#toast-container > div {
    background: #02125F !important;
    opacity: 1;
    padding: 20px 70px 20px 20px !important;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}
.toast {
    background-color: #030303
}
.toast-success {
    background-color: #51A351
}
.toast-error {
    background-color: #BD362F
}
.toast-info {
    background-color: #2F96B4
}
.toast-warning {
    background-color: #F89406
}
.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: .4;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40)
}
@media all and (max-width:240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em
    }
    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px
    }
    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
    #toast-container .rtl .toast-close-button {
        left: -.2em;
        right: .2em
    }
}
@media all and (min-width:241px) and (max-width:480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em
    }
    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px
    }
    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em
    }
    #toast-container .rtl .toast-close-button {
        left: -.2em;
        right: .2em
    }
}
@media all and (min-width:481px) and (max-width:768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em
    }
    #toast-container > div.rtl {
        padding: 15px 50px 15px 15px
    }
}