// Blog Style
.page-template-template-blog,
.page-template-template-noticias,
.single-noticias,
.single-post,
.archive,
.category,
.search-results,
.error404 {
    .menu-mobile {
        height: auto !important;
        padding-top: 24px;
    }
    .nav-links a {
        color: #fff;
        background: #02125f;
        font-weight: bold;
        border-radius: 50px;
        padding: 10px 20px;
        display: inline-block;
        text-align: center;
        transition: all .3s;
        &:hover {
            color: #02125f;
            background: #fff;
            transition: all .3s;
        }
    }
    #container-page #page:after {
        content: none !important;
    }
    #container-page #page {
        background: #efb103 !important;
        background-image: linear-gradient(to left bottom, #efb103, #f2b403, #f5b802, #f8bb02, #fbbf01, #fabe03, #fabd04, #f9bc06, #f4b60a, #efaf0d, #e9a910, #e4a312) !important;
        &:before {
            content: '';
            display: none !important;
            width: 100vw !important;
            height: 100vh !important;
            background: url(images/desktop/nuvens-amarelas.png) no-repeat scroll center top !important;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0 !important;
        }
    }
    header#topo {
        background-image: none;
        height: 80px;
    }
    #content.site-content {
        z-index: 1;
        background-image: none;
    }
    .post-cont {
        height: 100%;
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        background: #fff;
        position: relative;
        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: none;
            display: inline-block;
            width: 100%;
            height: auto;
        }
        a {
            display: inline-block;
        }
    }
    .post-thumbnail img {
        width: 100%;
        height: auto;
    }
    .entry-content img {
        width: 100%;
        height: auto;
    }
    .post-box {
        padding: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        h3 a {
            font-size: 25px;
            color: #02115e;
        }
        p a {
            font-size: 17px;
            color: #000;
            font-weight: normal !important;
        }
        .post-actions {
            padding: 30px 0 0;
            width: 100%;
            margin-top: auto;
            .share-post {
                display: flex;
                width: 100px;
                float: left;
                margin-left: -20px;
                a {
                    display: block;
                    width: 50px;
                    height: 30px;
                    border-right: 1px solid rgba(112, 112, 112, 0.35);
                    overflow: hidden;
                    color: transparent;
                    transition: all .3s;
                    &.facebook-share {
                        background: url(images/desktop/facebook-share.svg) no-repeat scroll center center;
                    }
                    &.whatsapp-share {
                        background: url(images/desktop/whatsapp-share.svg) no-repeat scroll center center;
                        border-right: none;
                    }
                    &:hover {
                        opacity: .5;
                    }
                }
            }
            .post-link {
                color: #02125F;
                font-weight: bold;
                float: right;
                background: transparent;
                line-height: 1;
                padding: 6px 10px;
                border-radius: 50px;
                transition: all .3s;
                &:after {
                    content: url(images/svg/seta-direita.svg);
                    margin-left: 10px;
                    display: inline-block;
                    vertical-align: middle;
                }
                &:hover {
                    background: #02125F;
                    color: #fff;
                    &:after {
                        content: url(images/svg/seta-direita-branca.svg);
                    }
                }
            }
        }
    }
    #search-row {
        background-color: #02125F;
        height: auto;
        padding-top: 32px;
        margin-bottom: 20px;
        text-align: center;
        padding-bottom: 32px;
        h3 {
            color: rgba(255, 255, 255, 0.7);
            // font-size: 35px;
            font-size: 2rem;
        }
        input.search-submit.btn.btn-default {
            background-color: #E89C04;
            color: #ffffff;
            font-weight: 500;
            transition: all .3s;
            &:hover {
                background-color: #fff;
                color: #02125F;
            }
        }
    }
    &.single {
        h1.entry-title {
            font-size: 28px;
            margin-top: 20px;
            border: none;
        }
    }
    form.search-form {
        display: block;
        margin-top: 5px;
        input,
        label {
            margin: 0 !important;
            padding: 10px;
            line-height: 1;
            vertical-align: middle;
            border-radius: 8px;
            border: none;
        }
        label {
            padding: 0;
            width: calc(100% - 76px);
        }
        .search-field {
            background: #fff url(images/svg/lupa.svg) no-repeat scroll right 10px top 10px;
            padding-right: 30px;
            min-height: 35px;
        }
    }
}

.single-noticias,
.single-post {
    #content.site-content {
        background-color: rgba(245, 184, 2, 0.05);
        background-image: none;
    }
}

.page-template-template-blog .menu-desktop a.menu-blog,
.single-post .menu-desktop a.menu-blog,
.archive .menu-desktop a.menu-blog {
    background: rgba(255, 255, 255, .5);
    transition: all .3s;
}

.page-template-template-noticias .menu-desktop a.menu-noticias,
.single-noticias .menu-desktop a.menu-noticias,
.archive .menu-desktop a.menu-noticias {
    background: rgba(255, 255, 255, .5);
    transition: all .3s;
}

h3.widget-title {
    font-size: 17px;
    color: #324F65;
    font-weight: bold;
    text-transform: uppercase;
}

.widget {
    margin: 0 0 40px;
    font-size: 14px;
}

.widget_recent_entries,
.popular-posts,
.widget_categories {
    ul {
        padding: 0;
        margin: 0;
        li {
            margin: 0;
            a {
                background: url(images/desktop/seta-widget.svg) no-repeat scroll left 4px top 13px;
                border-bottom: 1px solid rgba(112, 112, 112, 0.16);
                padding: 10px 0 10px 30px;
                line-height: 1.1;
                color: #02125F;
                font-weight: bold;
                transition: all .3s;
                display: block !important;
                &:hover,
                &:focus {
                    background: #02125F url(images/desktop/seta-widget.svg) no-repeat scroll left 4px top 13px;
                    color: #fff;
                    transition: all .3s;
                }
            }
        }
    }
}

.popular-posts {
    ul {
        padding: 0;
        margin: 0;
        li {
            a {
                background: url(images/desktop/seta-widget.svg) no-repeat scroll left 4px top 13px;
                border-bottom: 1px solid rgba(112, 112, 112, 0.16);
                padding: 10px 0 10px 30px;
                line-height: 1.1;
                color: #02125F !important;
                font-weight: bold;
                transition: all .3s;
                display: block !important;
                &:hover,
                &:focus {
                    background: #02125F url(images/desktop/seta-widget.svg) no-repeat scroll left 4px top 13px;
                    color: #fff !important;
                    transition: all .3s;
                }
            }
        }
    }
}

.widget_categories {
    margin-bottom: 60px;
}

.app-widget {
    text-align: left;
    h3 {
        text-align: left;
        font-size: 17px;
        color: #02125F;
        font-weight: bold;
        padding-bottom: 12px;
    }
    a {
        transition: all 1s;
        display: inline-block;
        img {
            max-width: 140px;
            margin-right: 10px;
        }
        &:hover {
            -webkit-animation: zoomHoverSimple .5s ease-in-out;
            animation: zoomHoverSimple .5s ease-in-out;
        }
    }
}

@keyframes zoomHoverSimple {
    0% {
        transform: scale(1);
        background: transparent;
        color: transparent;
    }
    75% {
        transform: scale(1.05);
        background: transparent;
        color: transparent;
    }
    50% {
        transform: scale(1.1);
        background: transparent;
        color: transparent;
    }
    75% {
        transform: scale(1.05);
        background: transparent;
        color: transparent;
    }
    100% {
        transform: scale(1);
        background: transparent;
        color: transparent;
    }
}

.single-post,
.single-noticias {
    #content {
        background: #FFFCF2 !important;
        .entry-header {
            h1 {
                color: #02115e;
                font-weight: bold;
                font-size: 35px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .entry-meta {
                color: #959494;
                font-size: 15px;
                a {
                    color: #959494;
                    font-size: 15px;
                }
            }
        }
        .entry-content {
            font-size: 1.5rem;
        }
        .entry-footer {
            .cat-links,
            .tags-links {}
            .cta-simulacao {
                background-color: #e8e9f0;
                background-image: url(images/icones-extra.png), url(images/dots-rp-blog.png);
                background-repeat: no-repeat, no-repeat;
                background-attachment: scroll, scroll;
                background-position: right center, center center;
                background-size: contain, contain;
                padding: 40px;
                text-align: center;
                line-height: 1;
                font-weight: bold;
                margin-top: 30px;
                p {
                    text-align: center;
                    line-height: 1.2;
                    margin-bottom: 20px;
                    font-size: 1.4rem;
                }
                a {
                    display: inline-block;
                    border: 2px solid #02125F;
                    color: #02125F;
                    line-height: 1;
                    padding: 9px 15px;
                    border-radius: 50px;
                    background-color: rgba(255, 255, 255, .55);
                    font-size: 16px;
                    transition: all .3s;
                    &:hover {
                        background-color: #F6BB00;
                        border-color: #F6BB00;
                    }
                }
            }
        }
    }
}

.ajax-button {
    text-align: center;
    padding: 0 0 40px;
    a.loadmore {
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Maven Pro', sans-serif;
        display: inline-block;
        line-height: 1;
        border: 2px solid #02125F;
        border-radius: 50px;
        padding: 15px 20px;
        margin-top: 5px;
        background-color: #02125F;
        transition: all .3s;
        &:hover {
            color: #02125F;
            background-color: #FFBA00;
        }
        &.loading {
            opacity: .2;
            &:hover {
                color: #ffffff;
                background-color: #02125F;
            }
        }
    }
}

.search-results {
    .page-title {
        color: #004C83 !important;
    }
    .entry-header {
        h1 {
            color: #000000;
            font-weight: bold;
            font-size: 35px;
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none !important;
        }
        .entry-meta {
            color: #959494;
            font-size: 15px;
            a {
                color: #959494;
                font-size: 15px;
            }
        }
    }
    article {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 4rem;
    }
    .post,
    .page,
    .noticias {
        .entry-header {
            h2 {
                color: #004C83;
                font-weight: bold;
                font-size: 25px;
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none !important;
            }
            .entry-meta {
                color: #959494;
                font-size: 15px;
                a {
                    color: #959494;
                    font-size: 15px;
                }
            }
        }
    }
    .entry-footer {
        .cat-links,
        .tags-links {}
        .cta-simulacao {
            background-image: url(images/dots-rp-blog.png), url(images/icones-extra.png);
            background-repeat: no-repeat, no-repeat;
            background-attachment: scroll, scroll;
            background-position: right center, center center;
            background-size: contain, contain;
            padding: 40px;
            text-align: center;
            line-height: 1;
            font-weight: bold;
            margin-top: 30px;
            p {
                text-align: center;
                line-height: 1.2;
                margin-bottom: 20px;
                font-size: 1.4rem;
            }
            a {
                display: inline-block;
                border: 2px solid #02125F;
                color: #02125F;
                line-height: 1;
                padding: 9px 15px;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, .55);
                &:hover {
                    background-color: #F6BB00;
                    border-color: #F6BB00;
                }
            }
        }
    }
}

.archive {
    #content {
        max-width: 1120px;
        margin: 0 auto;
        .page-header {
            h1 {
                color: #02125f;
                font-size: 30px;
                text-align: center;
            }
        }
        article {
            background: #fff;
            padding: 30px;
            border-radius: 8px;
            -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
            margin-bottom: 4rem;
            h2.entry-title {
                border: none;
                color: #02125f;
                margin: 0;
                padding: 20px 0 0;
            }
            .entry-meta,
            .entry-meta a {
                color: #9a9a9a;
                font-size: 13px;
            }
            .entry-content {
                p,
                a,
                span,
                blockquote {
                    font-size: 17px;
                }
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: #02115e;
                }
            }
        }
    }
}

.yarpp-related {
    .post-box {
        h3 {
            color: #02125F;
            text-transform: none;
        }
    }
}

.dicas-exclusivas {
    background: #fff;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 30px;
    h3 {
        color: #324F65;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 10px;
        padding: 0;
    }
    p {
        color: #999A9B;
        margin: 0 0 10px;
        padding: 0;
        font-size: 15px;
        line-height: 1;
    }
    label {
        color: #02125F;
        font-size: 15px;
        font-weight: bold;
        display: block;
        clear: both;
        margin-bottom: 2px;
        text-transform: uppercase;
    }
    input {
        border: 1px solid rgba(112, 112, 112, 0.3);
        display: block;
        width: 100%;
        height: auto;
        border-radius: 5px;
        font-size: 17px;
        min-height: 35px;
        margin-bottom: 10px;
    }
    button {
        background: #02125F;
        color: #fff;
        font-weight: bold;
        border: none;
        line-height: 1;
        padding: 10px 20px;
        border-radius: 50px;
        margin: 0 auto;
        display: inherit;
        transition: all .3s;
        &:hover {
            background: #E89C04;
        }
    }
    #baixar-aplicativo {
        display: none !important;
    }
}

#rp-extra-blog {
    background-color: #E8E9F0;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right center;
    padding: 80px 0;
    text-align: center;
    h3 {
        color: #02125F;
        font-size: 30px;
        line-height: 1;
        font-weight: bold;
        text-align: center;
        padding: 0 18px;
    }
    p {
        color: #02125F;
        font-size: 20px;
        margin: 10px 0;
        padding: 0;
        text-align: center;
    }
    .container-faca-simulacao {
        background: url(images/icones-extra.png) no-repeat scroll center center;
        display: flex;
        text-align: center;
        width: 100%;
        height: 170px;
        align-items: center;
        justify-content: center;
        background-size: contain;
    }
    .faca-simulacao-extra {
        background: #E89C04;
        line-height: 1;
        padding: 15px 24px;
        border-radius: 50px;
        font-size: 17px;
        font-weight: 500;
        border: 2px solid #E89C04;
        color: #02125F;
        transition: all .3s;
        display: inline-block;
        &:hover {
            background: #02125F;
            border-color: #02125F;
            color: #E89C04;
        }
    }
}

.page-template-template-blog,
.page-template-template-noticias {
    #rp-extra-blog {
        background-color: #fff;
    }
}

span.cta-artigo a {
    background: #e89b04;
    color: #02125f;
    font-weight: bold;
    line-height: 1;
    padding: 20px;
    border-radius: 50px;
    margin: 20px 0;
    display: inline-block;
    transition: all .3s;
    &:hover {
        background: #02125f;
        color: #fff;
    }
}

.single-post,
.single-noticias {
    #content {
        .entry-footer {
            .cta-simulacao {
                display: none;
            }
        }
    }
}

// Fix iPhone SE
@media (min-width: 320px) {}

// Fix iPhone 6
@media (min-width: 375px) {}

// Fix iPhone 6 Plus
@media (min-width: 414px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .post-box {
        height: auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .post-box {
        height: calc(100% - 233px);
    }
    #rp-extra-blog {
        background-color: #E8E9F0;
        background-image: url(images/dots-rp-blog.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: right center;
        padding: 80px 0;
        text-align: center;
        h3 {
            color: #02125F;
            font-size: 40px;
            line-height: 1;
            font-weight: bold;
            text-align: left;
        }
        p {
            color: #02125F;
            font-size: 20px;
            margin: 0;
            padding: 0;
            text-align: left;
        }
        .container-faca-simulacao {
            background: url(images/icones-extra.png) no-repeat scroll center center;
            display: flex;
            text-align: center;
            width: 100%;
            height: 170px;
            align-items: center;
            justify-content: center;
            background-size: contain;
        }
        .faca-simulacao-extra {
            background: #E89C04;
            line-height: 1;
            padding: 15px 24px;
            border-radius: 50px;
            font-size: 17px;
            font-weight: 500;
            border: 2px solid #E89C04;
            color: #02125F;
            transition: all .3s;
            display: inline-block;
            &:hover {
                background: #02125F;
                border-color: #02125F;
                color: #E89C04;
            }
        }
    }
    .page-template-template-blog,
    .page-template-template-noticias,
    .single-noticias,
    .single-post,
    .archive,
    .category,
    .search-results,
    .error404 {
        header#topo {
            background-image: none;
            height: 100px;
        }
        #container-page #page {
            &:before {
                display: block !important;
            }
        }
        #search-row {
            text-align: inherit;
            padding-bottom: 0;
            height: 104px;
            h3 {
                font-size: 35px;
            }
        }
        #baixar-aplicativo {
            display: inherit !important;
        }
    }
    .single-post,
    .single-noticias {
        #content {
            .entry-footer {
                .cta-simulacao {
                    display: block;
                    background-color: transparent !important;
                    background-image: url(images/desktop/fundo-cta-post.svg) !important;
                    background-repeat: no-repeat !important;
                    background-attachment: scroll !important;
                    background-position: right center !important;
                    background-size: 100% !important;
                    padding: 40px;
                    text-align: center;
                    line-height: 1;
                    font-weight: bold;
                    margin-top: 30px;
                    p {
                        text-align: left !important;
                        line-height: 1.2;
                        margin-bottom: 0;
                        font-size: 15px;
                        padding-left: 15px;
                        color: #02125f;
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .post-box {
        height: calc(100% - 233px);
    }
}