.page-template-template-blog .menu-mobile,
.page-template-template-noticias .menu-mobile,
.single-noticias .menu-mobile,
.single-post .menu-mobile,
.archive .menu-mobile,
.category .menu-mobile,
.search-results .menu-mobile,
.error404 .menu-mobile {
  height: auto !important;
  padding-top: 24px; }
.page-template-template-blog .nav-links a,
.page-template-template-noticias .nav-links a,
.single-noticias .nav-links a,
.single-post .nav-links a,
.archive .nav-links a,
.category .nav-links a,
.search-results .nav-links a,
.error404 .nav-links a {
  color: #fff;
  background: #02125f;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .page-template-template-blog .nav-links a:hover,
  .page-template-template-noticias .nav-links a:hover,
  .single-noticias .nav-links a:hover,
  .single-post .nav-links a:hover,
  .archive .nav-links a:hover,
  .category .nav-links a:hover,
  .search-results .nav-links a:hover,
  .error404 .nav-links a:hover {
    color: #02125f;
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s; }
.page-template-template-blog #container-page #page:after,
.page-template-template-noticias #container-page #page:after,
.single-noticias #container-page #page:after,
.single-post #container-page #page:after,
.archive #container-page #page:after,
.category #container-page #page:after,
.search-results #container-page #page:after,
.error404 #container-page #page:after {
  content: none !important; }
.page-template-template-blog #container-page #page,
.page-template-template-noticias #container-page #page,
.single-noticias #container-page #page,
.single-post #container-page #page,
.archive #container-page #page,
.category #container-page #page,
.search-results #container-page #page,
.error404 #container-page #page {
  background: #efb103 !important;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#efb103), color-stop(#f2b403), color-stop(#f5b802), color-stop(#f8bb02), color-stop(#fbbf01), color-stop(#fabe03), color-stop(#fabd04), color-stop(#f9bc06), color-stop(#f4b60a), color-stop(#efaf0d), color-stop(#e9a910), to(#e4a312)) !important;
  background-image: linear-gradient(to left bottom, #efb103, #f2b403, #f5b802, #f8bb02, #fbbf01, #fabe03, #fabd04, #f9bc06, #f4b60a, #efaf0d, #e9a910, #e4a312) !important; }
  .page-template-template-blog #container-page #page:before,
  .page-template-template-noticias #container-page #page:before,
  .single-noticias #container-page #page:before,
  .single-post #container-page #page:before,
  .archive #container-page #page:before,
  .category #container-page #page:before,
  .search-results #container-page #page:before,
  .error404 #container-page #page:before {
    content: '';
    display: none !important;
    width: 100vw !important;
    height: 100vh !important;
    background: url(images/desktop/nuvens-amarelas.png) no-repeat scroll center top !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0 !important; }
.page-template-template-blog header#topo,
.page-template-template-noticias header#topo,
.single-noticias header#topo,
.single-post header#topo,
.archive header#topo,
.category header#topo,
.search-results header#topo,
.error404 header#topo {
  background-image: none;
  height: 80px; }
.page-template-template-blog #content.site-content,
.page-template-template-noticias #content.site-content,
.single-noticias #content.site-content,
.single-post #content.site-content,
.archive #content.site-content,
.category #content.site-content,
.search-results #content.site-content,
.error404 #content.site-content {
  z-index: 1;
  background-image: none; }
.page-template-template-blog .post-cont,
.page-template-template-noticias .post-cont,
.single-noticias .post-cont,
.single-post .post-cont,
.archive .post-cont,
.category .post-cont,
.search-results .post-cont,
.error404 .post-cont {
  height: 100%;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: #fff;
  position: relative; }
  .page-template-template-blog .post-cont img,
  .page-template-template-noticias .post-cont img,
  .single-noticias .post-cont img,
  .single-post .post-cont img,
  .archive .post-cont img,
  .category .post-cont img,
  .search-results .post-cont img,
  .error404 .post-cont img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    display: inline-block;
    width: 100%;
    height: auto; }
  .page-template-template-blog .post-cont a,
  .page-template-template-noticias .post-cont a,
  .single-noticias .post-cont a,
  .single-post .post-cont a,
  .archive .post-cont a,
  .category .post-cont a,
  .search-results .post-cont a,
  .error404 .post-cont a {
    display: inline-block; }
.page-template-template-blog .post-thumbnail img,
.page-template-template-noticias .post-thumbnail img,
.single-noticias .post-thumbnail img,
.single-post .post-thumbnail img,
.archive .post-thumbnail img,
.category .post-thumbnail img,
.search-results .post-thumbnail img,
.error404 .post-thumbnail img {
  width: 100%;
  height: auto; }
.page-template-template-blog .entry-content img,
.page-template-template-noticias .entry-content img,
.single-noticias .entry-content img,
.single-post .entry-content img,
.archive .entry-content img,
.category .entry-content img,
.search-results .entry-content img,
.error404 .entry-content img {
  width: 100%;
  height: auto; }
.page-template-template-blog .post-box,
.page-template-template-noticias .post-box,
.single-noticias .post-box,
.single-post .post-box,
.archive .post-box,
.category .post-box,
.search-results .post-box,
.error404 .post-box {
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .page-template-template-blog .post-box h3 a,
  .page-template-template-noticias .post-box h3 a,
  .single-noticias .post-box h3 a,
  .single-post .post-box h3 a,
  .archive .post-box h3 a,
  .category .post-box h3 a,
  .search-results .post-box h3 a,
  .error404 .post-box h3 a {
    font-size: 25px;
    color: #02115e; }
  .page-template-template-blog .post-box p a,
  .page-template-template-noticias .post-box p a,
  .single-noticias .post-box p a,
  .single-post .post-box p a,
  .archive .post-box p a,
  .category .post-box p a,
  .search-results .post-box p a,
  .error404 .post-box p a {
    font-size: 17px;
    color: #000;
    font-weight: normal !important; }
  .page-template-template-blog .post-box .post-actions,
  .page-template-template-noticias .post-box .post-actions,
  .single-noticias .post-box .post-actions,
  .single-post .post-box .post-actions,
  .archive .post-box .post-actions,
  .category .post-box .post-actions,
  .search-results .post-box .post-actions,
  .error404 .post-box .post-actions {
    padding: 30px 0 0;
    width: 100%;
    margin-top: auto; }
    .page-template-template-blog .post-box .post-actions .share-post,
    .page-template-template-noticias .post-box .post-actions .share-post,
    .single-noticias .post-box .post-actions .share-post,
    .single-post .post-box .post-actions .share-post,
    .archive .post-box .post-actions .share-post,
    .category .post-box .post-actions .share-post,
    .search-results .post-box .post-actions .share-post,
    .error404 .post-box .post-actions .share-post {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100px;
      float: left;
      margin-left: -20px; }
      .page-template-template-blog .post-box .post-actions .share-post a,
      .page-template-template-noticias .post-box .post-actions .share-post a,
      .single-noticias .post-box .post-actions .share-post a,
      .single-post .post-box .post-actions .share-post a,
      .archive .post-box .post-actions .share-post a,
      .category .post-box .post-actions .share-post a,
      .search-results .post-box .post-actions .share-post a,
      .error404 .post-box .post-actions .share-post a {
        display: block;
        width: 50px;
        height: 30px;
        border-right: 1px solid rgba(112, 112, 112, 0.35);
        overflow: hidden;
        color: transparent;
        -webkit-transition: all .3s;
        transition: all .3s; }
        .page-template-template-blog .post-box .post-actions .share-post a.facebook-share,
        .page-template-template-noticias .post-box .post-actions .share-post a.facebook-share,
        .single-noticias .post-box .post-actions .share-post a.facebook-share,
        .single-post .post-box .post-actions .share-post a.facebook-share,
        .archive .post-box .post-actions .share-post a.facebook-share,
        .category .post-box .post-actions .share-post a.facebook-share,
        .search-results .post-box .post-actions .share-post a.facebook-share,
        .error404 .post-box .post-actions .share-post a.facebook-share {
          background: url(images/desktop/facebook-share.svg) no-repeat scroll center center; }
        .page-template-template-blog .post-box .post-actions .share-post a.whatsapp-share,
        .page-template-template-noticias .post-box .post-actions .share-post a.whatsapp-share,
        .single-noticias .post-box .post-actions .share-post a.whatsapp-share,
        .single-post .post-box .post-actions .share-post a.whatsapp-share,
        .archive .post-box .post-actions .share-post a.whatsapp-share,
        .category .post-box .post-actions .share-post a.whatsapp-share,
        .search-results .post-box .post-actions .share-post a.whatsapp-share,
        .error404 .post-box .post-actions .share-post a.whatsapp-share {
          background: url(images/desktop/whatsapp-share.svg) no-repeat scroll center center;
          border-right: none; }
        .page-template-template-blog .post-box .post-actions .share-post a:hover,
        .page-template-template-noticias .post-box .post-actions .share-post a:hover,
        .single-noticias .post-box .post-actions .share-post a:hover,
        .single-post .post-box .post-actions .share-post a:hover,
        .archive .post-box .post-actions .share-post a:hover,
        .category .post-box .post-actions .share-post a:hover,
        .search-results .post-box .post-actions .share-post a:hover,
        .error404 .post-box .post-actions .share-post a:hover {
          opacity: .5; }
    .page-template-template-blog .post-box .post-actions .post-link,
    .page-template-template-noticias .post-box .post-actions .post-link,
    .single-noticias .post-box .post-actions .post-link,
    .single-post .post-box .post-actions .post-link,
    .archive .post-box .post-actions .post-link,
    .category .post-box .post-actions .post-link,
    .search-results .post-box .post-actions .post-link,
    .error404 .post-box .post-actions .post-link {
      color: #02125F;
      font-weight: bold;
      float: right;
      background: transparent;
      line-height: 1;
      padding: 6px 10px;
      border-radius: 50px;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .page-template-template-blog .post-box .post-actions .post-link:after,
      .page-template-template-noticias .post-box .post-actions .post-link:after,
      .single-noticias .post-box .post-actions .post-link:after,
      .single-post .post-box .post-actions .post-link:after,
      .archive .post-box .post-actions .post-link:after,
      .category .post-box .post-actions .post-link:after,
      .search-results .post-box .post-actions .post-link:after,
      .error404 .post-box .post-actions .post-link:after {
        content: url(images/svg/seta-direita.svg);
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle; }
      .page-template-template-blog .post-box .post-actions .post-link:hover,
      .page-template-template-noticias .post-box .post-actions .post-link:hover,
      .single-noticias .post-box .post-actions .post-link:hover,
      .single-post .post-box .post-actions .post-link:hover,
      .archive .post-box .post-actions .post-link:hover,
      .category .post-box .post-actions .post-link:hover,
      .search-results .post-box .post-actions .post-link:hover,
      .error404 .post-box .post-actions .post-link:hover {
        background: #02125F;
        color: #fff; }
        .page-template-template-blog .post-box .post-actions .post-link:hover:after,
        .page-template-template-noticias .post-box .post-actions .post-link:hover:after,
        .single-noticias .post-box .post-actions .post-link:hover:after,
        .single-post .post-box .post-actions .post-link:hover:after,
        .archive .post-box .post-actions .post-link:hover:after,
        .category .post-box .post-actions .post-link:hover:after,
        .search-results .post-box .post-actions .post-link:hover:after,
        .error404 .post-box .post-actions .post-link:hover:after {
          content: url(images/svg/seta-direita-branca.svg); }
.page-template-template-blog #search-row,
.page-template-template-noticias #search-row,
.single-noticias #search-row,
.single-post #search-row,
.archive #search-row,
.category #search-row,
.search-results #search-row,
.error404 #search-row {
  background-color: #02125F;
  height: auto;
  padding-top: 32px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 32px; }
  .page-template-template-blog #search-row h3,
  .page-template-template-noticias #search-row h3,
  .single-noticias #search-row h3,
  .single-post #search-row h3,
  .archive #search-row h3,
  .category #search-row h3,
  .search-results #search-row h3,
  .error404 #search-row h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem; }
  .page-template-template-blog #search-row input.search-submit.btn.btn-default,
  .page-template-template-noticias #search-row input.search-submit.btn.btn-default,
  .single-noticias #search-row input.search-submit.btn.btn-default,
  .single-post #search-row input.search-submit.btn.btn-default,
  .archive #search-row input.search-submit.btn.btn-default,
  .category #search-row input.search-submit.btn.btn-default,
  .search-results #search-row input.search-submit.btn.btn-default,
  .error404 #search-row input.search-submit.btn.btn-default {
    background-color: #E89C04;
    color: #ffffff;
    font-weight: 500;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .page-template-template-blog #search-row input.search-submit.btn.btn-default:hover,
    .page-template-template-noticias #search-row input.search-submit.btn.btn-default:hover,
    .single-noticias #search-row input.search-submit.btn.btn-default:hover,
    .single-post #search-row input.search-submit.btn.btn-default:hover,
    .archive #search-row input.search-submit.btn.btn-default:hover,
    .category #search-row input.search-submit.btn.btn-default:hover,
    .search-results #search-row input.search-submit.btn.btn-default:hover,
    .error404 #search-row input.search-submit.btn.btn-default:hover {
      background-color: #fff;
      color: #02125F; }
.page-template-template-blog.single h1.entry-title,
.page-template-template-noticias.single h1.entry-title,
.single-noticias.single h1.entry-title,
.single-post.single h1.entry-title,
.archive.single h1.entry-title,
.category.single h1.entry-title,
.search-results.single h1.entry-title,
.error404.single h1.entry-title {
  font-size: 28px;
  margin-top: 20px;
  border: none; }
.page-template-template-blog form.search-form,
.page-template-template-noticias form.search-form,
.single-noticias form.search-form,
.single-post form.search-form,
.archive form.search-form,
.category form.search-form,
.search-results form.search-form,
.error404 form.search-form {
  display: block;
  margin-top: 5px; }
  .page-template-template-blog form.search-form input,
  .page-template-template-blog form.search-form label,
  .page-template-template-noticias form.search-form input,
  .page-template-template-noticias form.search-form label,
  .single-noticias form.search-form input,
  .single-noticias form.search-form label,
  .single-post form.search-form input,
  .single-post form.search-form label,
  .archive form.search-form input,
  .archive form.search-form label,
  .category form.search-form input,
  .category form.search-form label,
  .search-results form.search-form input,
  .search-results form.search-form label,
  .error404 form.search-form input,
  .error404 form.search-form label {
    margin: 0 !important;
    padding: 10px;
    line-height: 1;
    vertical-align: middle;
    border-radius: 8px;
    border: none; }
  .page-template-template-blog form.search-form label,
  .page-template-template-noticias form.search-form label,
  .single-noticias form.search-form label,
  .single-post form.search-form label,
  .archive form.search-form label,
  .category form.search-form label,
  .search-results form.search-form label,
  .error404 form.search-form label {
    padding: 0;
    width: calc(100% - 76px); }
  .page-template-template-blog form.search-form .search-field,
  .page-template-template-noticias form.search-form .search-field,
  .single-noticias form.search-form .search-field,
  .single-post form.search-form .search-field,
  .archive form.search-form .search-field,
  .category form.search-form .search-field,
  .search-results form.search-form .search-field,
  .error404 form.search-form .search-field {
    background: #fff url(images/svg/lupa.svg) no-repeat scroll right 10px top 10px;
    padding-right: 30px;
    min-height: 35px; }

.single-noticias #content.site-content,
.single-post #content.site-content {
  background-color: rgba(245, 184, 2, 0.05);
  background-image: none; }

.page-template-template-blog .menu-desktop a.menu-blog,
.single-post .menu-desktop a.menu-blog,
.archive .menu-desktop a.menu-blog {
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .3s;
  transition: all .3s; }

.page-template-template-noticias .menu-desktop a.menu-noticias,
.single-noticias .menu-desktop a.menu-noticias,
.archive .menu-desktop a.menu-noticias {
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .3s;
  transition: all .3s; }

h3.widget-title {
  font-size: 17px;
  color: #324F65;
  font-weight: bold;
  text-transform: uppercase; }

.widget {
  margin: 0 0 40px;
  font-size: 14px; }

.widget_recent_entries ul,
.popular-posts ul,
.widget_categories ul {
  padding: 0;
  margin: 0; }
  .widget_recent_entries ul li,
  .popular-posts ul li,
  .widget_categories ul li {
    margin: 0; }
    .widget_recent_entries ul li a,
    .popular-posts ul li a,
    .widget_categories ul li a {
      background: url(images/desktop/seta-widget.svg) no-repeat scroll left 4px top 13px;
      border-bottom: 1px solid rgba(112, 112, 112, 0.16);
      padding: 10px 0 10px 30px;
      line-height: 1.1;
      color: #02125F;
      font-weight: bold;
      -webkit-transition: all .3s;
      transition: all .3s;
      display: block !important; }
      .widget_recent_entries ul li a:hover, .widget_recent_entries ul li a:focus,
      .popular-posts ul li a:hover,
      .popular-posts ul li a:focus,
      .widget_categories ul li a:hover,
      .widget_categories ul li a:focus {
        background: #02125F url(images/desktop/seta-widget.svg) no-repeat scroll left 4px top 13px;
        color: #fff;
        -webkit-transition: all .3s;
        transition: all .3s; }

.popular-posts ul {
  padding: 0;
  margin: 0; }
  .popular-posts ul li a {
    background: url(images/desktop/seta-widget.svg) no-repeat scroll left 4px top 13px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.16);
    padding: 10px 0 10px 30px;
    line-height: 1.1;
    color: #02125F !important;
    font-weight: bold;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: block !important; }
    .popular-posts ul li a:hover, .popular-posts ul li a:focus {
      background: #02125F url(images/desktop/seta-widget.svg) no-repeat scroll left 4px top 13px;
      color: #fff !important;
      -webkit-transition: all .3s;
      transition: all .3s; }

.widget_categories {
  margin-bottom: 60px; }

.app-widget {
  text-align: left; }
  .app-widget h3 {
    text-align: left;
    font-size: 17px;
    color: #02125F;
    font-weight: bold;
    padding-bottom: 12px; }
  .app-widget a {
    -webkit-transition: all 1s;
    transition: all 1s;
    display: inline-block; }
    .app-widget a img {
      max-width: 140px;
      margin-right: 10px; }
    .app-widget a:hover {
      -webkit-animation: zoomHoverSimple .5s ease-in-out;
      animation: zoomHoverSimple .5s ease-in-out; }

@-webkit-keyframes zoomHoverSimple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: transparent;
    color: transparent; }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background: transparent;
    color: transparent; }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: transparent;
    color: transparent; }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background: transparent;
    color: transparent; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: transparent;
    color: transparent; } }

@keyframes zoomHoverSimple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: transparent;
    color: transparent; }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background: transparent;
    color: transparent; }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: transparent;
    color: transparent; }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background: transparent;
    color: transparent; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: transparent;
    color: transparent; } }
.single-post #content,
.single-noticias #content {
  background: #FFFCF2 !important; }
  .single-post #content .entry-header h1,
  .single-noticias #content .entry-header h1 {
    color: #02115e;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0;
    padding-bottom: 0; }
  .single-post #content .entry-header .entry-meta,
  .single-noticias #content .entry-header .entry-meta {
    color: #959494;
    font-size: 15px; }
    .single-post #content .entry-header .entry-meta a,
    .single-noticias #content .entry-header .entry-meta a {
      color: #959494;
      font-size: 15px; }
  .single-post #content .entry-content,
  .single-noticias #content .entry-content {
    font-size: 1.5rem; }
  .single-post #content .entry-footer .cta-simulacao,
  .single-noticias #content .entry-footer .cta-simulacao {
    background-color: #e8e9f0;
    background-image: url(images/icones-extra.png), url(images/dots-rp-blog.png);
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
    background-position: right center, center center;
    background-size: contain, contain;
    padding: 40px;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    margin-top: 30px; }
    .single-post #content .entry-footer .cta-simulacao p,
    .single-noticias #content .entry-footer .cta-simulacao p {
      text-align: center;
      line-height: 1.2;
      margin-bottom: 20px;
      font-size: 1.4rem; }
    .single-post #content .entry-footer .cta-simulacao a,
    .single-noticias #content .entry-footer .cta-simulacao a {
      display: inline-block;
      border: 2px solid #02125F;
      color: #02125F;
      line-height: 1;
      padding: 9px 15px;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.55);
      font-size: 16px;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .single-post #content .entry-footer .cta-simulacao a:hover,
      .single-noticias #content .entry-footer .cta-simulacao a:hover {
        background-color: #F6BB00;
        border-color: #F6BB00; }

.ajax-button {
  text-align: center;
  padding: 0 0 40px; }
  .ajax-button a.loadmore {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
    display: inline-block;
    line-height: 1;
    border: 2px solid #02125F;
    border-radius: 50px;
    padding: 15px 20px;
    margin-top: 5px;
    background-color: #02125F;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .ajax-button a.loadmore:hover {
      color: #02125F;
      background-color: #FFBA00; }
    .ajax-button a.loadmore.loading {
      opacity: .2; }
      .ajax-button a.loadmore.loading:hover {
        color: #ffffff;
        background-color: #02125F; }

.search-results .page-title {
  color: #004C83 !important; }
.search-results .entry-header h1 {
  color: #000000;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none !important; }
.search-results .entry-header .entry-meta {
  color: #959494;
  font-size: 15px; }
  .search-results .entry-header .entry-meta a {
    color: #959494;
    font-size: 15px; }
.search-results article {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 4rem; }
.search-results .post .entry-header h2,
.search-results .page .entry-header h2,
.search-results .noticias .entry-header h2 {
  color: #004C83;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none !important; }
.search-results .post .entry-header .entry-meta,
.search-results .page .entry-header .entry-meta,
.search-results .noticias .entry-header .entry-meta {
  color: #959494;
  font-size: 15px; }
  .search-results .post .entry-header .entry-meta a,
  .search-results .page .entry-header .entry-meta a,
  .search-results .noticias .entry-header .entry-meta a {
    color: #959494;
    font-size: 15px; }
.search-results .entry-footer .cta-simulacao {
  background-image: url(images/dots-rp-blog.png), url(images/icones-extra.png);
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-position: right center, center center;
  background-size: contain, contain;
  padding: 40px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  margin-top: 30px; }
  .search-results .entry-footer .cta-simulacao p {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 1.4rem; }
  .search-results .entry-footer .cta-simulacao a {
    display: inline-block;
    border: 2px solid #02125F;
    color: #02125F;
    line-height: 1;
    padding: 9px 15px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.55); }
    .search-results .entry-footer .cta-simulacao a:hover {
      background-color: #F6BB00;
      border-color: #F6BB00; }

.archive #content {
  max-width: 1120px;
  margin: 0 auto; }
  .archive #content .page-header h1 {
    color: #02125f;
    font-size: 30px;
    text-align: center; }
  .archive #content article {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 4rem; }
    .archive #content article h2.entry-title {
      border: none;
      color: #02125f;
      margin: 0;
      padding: 20px 0 0; }
    .archive #content article .entry-meta,
    .archive #content article .entry-meta a {
      color: #9a9a9a;
      font-size: 13px; }
    .archive #content article .entry-content p,
    .archive #content article .entry-content a,
    .archive #content article .entry-content span,
    .archive #content article .entry-content blockquote {
      font-size: 17px; }
    .archive #content article .entry-content h1,
    .archive #content article .entry-content h2,
    .archive #content article .entry-content h3,
    .archive #content article .entry-content h4,
    .archive #content article .entry-content h5,
    .archive #content article .entry-content h6 {
      color: #02115e; }

.yarpp-related .post-box h3 {
  color: #02125F;
  text-transform: none; }

.dicas-exclusivas {
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 30px; }
  .dicas-exclusivas h3 {
    color: #324F65;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0; }
  .dicas-exclusivas p {
    color: #999A9B;
    margin: 0 0 10px;
    padding: 0;
    font-size: 15px;
    line-height: 1; }
  .dicas-exclusivas label {
    color: #02125F;
    font-size: 15px;
    font-weight: bold;
    display: block;
    clear: both;
    margin-bottom: 2px;
    text-transform: uppercase; }
  .dicas-exclusivas input {
    border: 1px solid rgba(112, 112, 112, 0.3);
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    font-size: 17px;
    min-height: 35px;
    margin-bottom: 10px; }
  .dicas-exclusivas button {
    background: #02125F;
    color: #fff;
    font-weight: bold;
    border: none;
    line-height: 1;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0 auto;
    display: inherit;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .dicas-exclusivas button:hover {
      background: #E89C04; }
  .dicas-exclusivas #baixar-aplicativo {
    display: none !important; }

#rp-extra-blog {
  background-color: #E8E9F0;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right center;
  padding: 80px 0;
  text-align: center; }
  #rp-extra-blog h3 {
    color: #02125F;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    padding: 0 18px; }
  #rp-extra-blog p {
    color: #02125F;
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
    text-align: center; }
  #rp-extra-blog .container-faca-simulacao {
    background: url(images/icones-extra.png) no-repeat scroll center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 100%;
    height: 170px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: contain; }
  #rp-extra-blog .faca-simulacao-extra {
    background: #E89C04;
    line-height: 1;
    padding: 15px 24px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid #E89C04;
    color: #02125F;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-block; }
    #rp-extra-blog .faca-simulacao-extra:hover {
      background: #02125F;
      border-color: #02125F;
      color: #E89C04; }

.page-template-template-blog #rp-extra-blog,
.page-template-template-noticias #rp-extra-blog {
  background-color: #fff; }

span.cta-artigo a {
  background: #e89b04;
  color: #02125f;
  font-weight: bold;
  line-height: 1;
  padding: 20px;
  border-radius: 50px;
  margin: 20px 0;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s; }
  span.cta-artigo a:hover {
    background: #02125f;
    color: #fff; }

.single-post #content .entry-footer .cta-simulacao,
.single-noticias #content .entry-footer .cta-simulacao {
  display: none; }

@media (min-width: 768px) {
  .post-box {
    height: auto; } }
@media (min-width: 992px) {
  .post-box {
    height: calc(100% - 233px); }

  #rp-extra-blog {
    background-color: #E8E9F0;
    background-image: url(images/dots-rp-blog.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right center;
    padding: 80px 0;
    text-align: center; }
    #rp-extra-blog h3 {
      color: #02125F;
      font-size: 40px;
      line-height: 1;
      font-weight: bold;
      text-align: left; }
    #rp-extra-blog p {
      color: #02125F;
      font-size: 20px;
      margin: 0;
      padding: 0;
      text-align: left; }
    #rp-extra-blog .container-faca-simulacao {
      background: url(images/icones-extra.png) no-repeat scroll center center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      width: 100%;
      height: 170px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-size: contain; }
    #rp-extra-blog .faca-simulacao-extra {
      background: #E89C04;
      line-height: 1;
      padding: 15px 24px;
      border-radius: 50px;
      font-size: 17px;
      font-weight: 500;
      border: 2px solid #E89C04;
      color: #02125F;
      -webkit-transition: all .3s;
      transition: all .3s;
      display: inline-block; }
      #rp-extra-blog .faca-simulacao-extra:hover {
        background: #02125F;
        border-color: #02125F;
        color: #E89C04; }

  .page-template-template-blog header#topo,
  .page-template-template-noticias header#topo,
  .single-noticias header#topo,
  .single-post header#topo,
  .archive header#topo,
  .category header#topo,
  .search-results header#topo,
  .error404 header#topo {
    background-image: none;
    height: 100px; }
  .page-template-template-blog #container-page #page:before,
  .page-template-template-noticias #container-page #page:before,
  .single-noticias #container-page #page:before,
  .single-post #container-page #page:before,
  .archive #container-page #page:before,
  .category #container-page #page:before,
  .search-results #container-page #page:before,
  .error404 #container-page #page:before {
    display: block !important; }
  .page-template-template-blog #search-row,
  .page-template-template-noticias #search-row,
  .single-noticias #search-row,
  .single-post #search-row,
  .archive #search-row,
  .category #search-row,
  .search-results #search-row,
  .error404 #search-row {
    text-align: inherit;
    padding-bottom: 0;
    height: 104px; }
    .page-template-template-blog #search-row h3,
    .page-template-template-noticias #search-row h3,
    .single-noticias #search-row h3,
    .single-post #search-row h3,
    .archive #search-row h3,
    .category #search-row h3,
    .search-results #search-row h3,
    .error404 #search-row h3 {
      font-size: 35px; }
  .page-template-template-blog #baixar-aplicativo,
  .page-template-template-noticias #baixar-aplicativo,
  .single-noticias #baixar-aplicativo,
  .single-post #baixar-aplicativo,
  .archive #baixar-aplicativo,
  .category #baixar-aplicativo,
  .search-results #baixar-aplicativo,
  .error404 #baixar-aplicativo {
    display: inherit !important; }

  .single-post #content .entry-footer .cta-simulacao,
  .single-noticias #content .entry-footer .cta-simulacao {
    display: block;
    background-color: transparent !important;
    background-image: url(images/desktop/fundo-cta-post.svg) !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: right center !important;
    background-size: 100% !important;
    padding: 40px;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    margin-top: 30px; }
    .single-post #content .entry-footer .cta-simulacao p,
    .single-noticias #content .entry-footer .cta-simulacao p {
      text-align: left !important;
      line-height: 1.2;
      margin-bottom: 0;
      font-size: 15px;
      padding-left: 15px;
      color: #02125f; } }
@media (min-width: 1200px) {
  .post-box {
    height: calc(100% - 233px); } }

/*# sourceMappingURL=style-blog.css.map */